.navbar{
    background-color: #D4D4D4;
    height:45px;
}
li a:hover {
    background-color: grey;
    color: white;
}
body {
    background-color: white;
}
.logo-header{
    padding-left: 50px;
    padding-top: 30px;
    float: left;
    margin: auto;
    background-color: #00263E;
}
.row1 {
    background-color: #00263E;
    width: 100%;
    display: flex;
    padding: 10px;
    border-bottom: 2px solid rgb(34, 39, 72);
}
li a {
    text-align: center;
    color: black;
}
#logo{
    height: 100px;
}
#card{
    background-color: black;
}
.col-sm{
    color: white;
}
.row{
    padding-top: 50px;
}